<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex align-items-center">
                <li class="nav-item pl-3">
                    <img src="https://i.ytimg.com/vi/48vIUS15sWc/maxresdefault.jpg" alt="princesa caroço" width="100px"
                        height="100px" class="img-fluid rounded-circle">
                </li>
                <li class="nav-item pl-3">
                    <p class="m-o font-weight-bold fs-16">Nome usuário(a)</p>
                </li>
            </ul>
        </div>
    </div>
</nav>